@use "../abstracts/box" as *;

.content_section {
  display: grid;
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 90rem;

  .arrow_down {
    position: relative;
    bottom: 2.25rem;
    justify-self: center;
    margin-top: 3rem;
    color: var(--title-color-2);
    cursor: pointer;
    animation: bounce 1.5s linear infinite;
  }
}

::-webkit-scrollbar {
  background-color: var(--bg-color-4);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-color-2);
  border-radius: $radius-3;
}

@keyframes bounce {
  0% {
    transform: translatey(0);
    scale: 1;
  }
  50% {
    transform: translatey(10px);
    scale: 1.05;
  }
  100% {
    transform: translatey(0px);
    scale: 1;
  }
}
