/* Primary: Evil Sunz Scarlet */
$primary-100: #fff2f2;
$primary-200: #febcbc;
$primary-300: #f88383;
$primary-400: #e64a4e;
$primary-500: #c41624;
$primary-600: #9d071c;
$primary-700: #750219;
$primary-800: #4e0014;
$primary-900: #26000c;

/* Accent: Weird-Green */
$accent-100: #f2fffb;
$accent-200: #c9ffe9;
$accent-300: #9efbd0;
$accent-400: #72f3b0;
$accent-500: #46e388;
$accent-600: #23b457;
$accent-700: #128534;
$accent-800: #0a551c;
$accent-900: #04260a;

/* Neutral */
$neutral-100: #fcfafa;
$neutral-200: #f0ecec;
$neutral-300: #e3dedf;
$neutral-400: #d6d1d1;
$neutral-500: #c9c3c4;
$neutral-600: #a1999b;
$neutral-700: #787072;
$neutral-800: #4f494b;
$neutral-900: #262224;
