$fontFamily-1: "Roboto", sans-serif;
$fontFamily-2: "Fira Code", monospace;

$fontSize-1: 2.75rem;
$fontSize-2: 2.375rem;
$fontSize-3: 1.5rem;
$fontSize-4: 1.25rem;
$fontSize-5: 1rem;
$fontSize-6: .875rem;
$fontSize-7: .75rem;

$fontWeight-700: 700;
$fontWeight-600: 600;
$fontWeight-500: 500;
$fontWeight-400: 400;
$fontWeight-300: 300;

$lineHeight-1: 2.1875rem;
$lineHeight-2: 1.5625rem;
$lineHeight-3: 20px;
