.Javascript {
  color: #ffee00;
}
.Typescript {
  color: #0077ff;
}
.Html5 {
  color: #ff9900;
}
.CSS {
  color: #0077ff;
}
.Sass {
  color: #e95fcb;
}
.Framer {
  color: #aaa6aa;
}

.Tailwind {
  color: #2873e2;
}

.React {
  color: #4ca1f1;
}
.Node {
  color: #2baa31;
}
.Express {
  color: #868386;
}

.Nest {
  color: #dd3a2f;
}
.Prisma {
  color: #2e6eb8;
}
.Git {
  color: #e2642a;
}
.Github {
  color: #ddacdd;
}
.Npm {
  color: #e64e28;
}
.Bun {
  color: #ddcbdf;
}
.PostgreSQL {
  color: #3373c7;
}
.Wordpress {
  color: #3373c7;
}
.Java {
  color: #c73d33;
}
.Python {
  color: #cac859;
}
.Spring {
  color: #2e8a3a;
}
.Jest {
  color: #c73d33;
}
.Docker {
  color: #3373c7;
}
.Angular {
  color: #e61f1f;
}
