@use "../../../styles/abstracts/box" as *;

.second_section {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: var(--title-color-2);
    margin-bottom: 1rem;
  }
}

.about_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10rem;
  margin-top: 4%;

  img {
    height: 34rem;
    transform: scaleX(-1);
    border-radius: 3.125rem;
  }
}

.about_content_container {
  display: flex;
  flex-direction: column;
}