.skills_container {
  color: var(--text-color-3);
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-top: 2rem;
  text-align: center;

  h2,
  h3 {
    color: var(--title-color-2);
  }

  .techs_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(8, 1fr);
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 0.5rem;
      
      small {
        color: var(--text-color-3);
        font-size: .75rem;
      }
    }
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  @media (min-width: 1440px) {
    text-align: start;
  }
}
