@use "../abstracts/box" as *;

button {
  border: none;
  border-radius: $radius-2;
  background-color: var(--button-color-hover);
  color: var(--text-color-2);
  cursor: pointer;
  
  &:hover {
    background-color: var(--button-color-1);
    color: var(--white-fixed);
  }
}

