@use "../abstracts/colors" as *;

:root.lightMode {
  --bg-color-1: #{$neutral-400};
  --bg-color-2: #{$primary-700};
  --bg-color-3: #{$primary-500};
  --bg-color-4: #{$neutral-200};
  --title-color-1: #{$primary-100};
  --title-color-2: #{$primary-500};
  --title-color-3: #{$primary-600};
  --text-color-1: #{$neutral-300};
  --text-color-2: #{$neutral-400};
  --text-color-3: #{$neutral-500};
  --text-color-4: #{$neutral-800};
  --white-fixed: #ffffff;
  --text-color-hightLight: #{$primary-400};
  --icon-color: #{$primary-500};
  --button-color-1: #{$primary-700};
  --button-color-hover: #{$primary-400};
  --shadows: #{$neutral-700};
}

// :root.darkMode {
//   --bg-color-1: #{$neutral-900};
//   --bg-color-2: #{$accent-700};
//   --bg-color-3: #{$primary-500};
//   --bg-color-4: #{$neutral-800};
//   --title-color-1: #{$accent-200};
//   --title-color-2: #{$accent-300};
//   --title-color-3: #{$accent-400};
//   --text-color-1: #{$neutral-300};
//   --text-color-2: #{$neutral-200};
//   --text-color-3: #{$neutral-100};
//   --text-color-hightLight: #{$accent-400};
//   --icon-color: #{$accent-500};
//   --button-color-1: #{$accent-400};
//   --button-color-hover: #{$accent-700};
//     --shadows: #{$neutral-200};
// }
