@use "../abstracts/colors" as *;

:root.lightMode {
  --bg-color-1: #{$neutral-400};
  --bg-color-2: #{$primary-700};
  --bg-color-3: #{$primary-500};
  --bg-color-4: #{$neutral-900};
  --title-color-1: #{$primary-100};
  --title-color-2: #{$primary-500};
  --title-color-3: #{$primary-300};
  --text-color-1: #{$neutral-200};
  --text-color-2: #{$neutral-300};
  --text-color-3: #{$neutral-400};
  --text-color-4: #{$neutral-700};
  --white-fixed: #ffffff;
  --text-color-hightLight: #{$primary-400};
  --icon-color: #{$primary-400};
  --button-color-1: #{$primary-700};
  --button-color-hover: #{$primary-400};
  --shadows: #{$neutral-800};
}